*{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


/*===========LOGIN STYLING==============*/
.main-login{
    height: 100vh;
    background-image: url("../images/davidici-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#login-page{
    width: 550px;
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(3px);
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 400px;
}

#LogoDiv{
    padding: 2.2em 0;
}

#Logo{
    display: block;
    margin: 0 auto;
    width: 30%;
}

#form-wrapper form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#form-wrapper form > input {
    width: 60%;
    padding: 5px 10px;
    background-color: rgba(0,0,0,0.3);
    border: 2px rgba(0,0,0,0) solid;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.1) inset;
    margin-bottom: 15px;
    color: white;
    border-radius: 3px;
}
#form-wrapper form > button {
    padding: 8px 20px;
    backdrop-filter: blur(6px);
    border-radius: 50px;
    border: 0px;
    font-size: 1.15em;
    cursor: pointer;
}


/*===========NAVBAR STYLING==============*/
nav > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 82rem;
    margin: 25px auto;
}
.nav-logo{
    width: 150px;
}
.nav-links{
    list-style: none;
    display: flex;
    padding: 0;
}
.nav-links li{
    margin: 0 10px;
    padding: 0 1em 0.2em;
}
.nav-links li > a{
    text-decoration: none;
}
.nav-links li > a:visited{
    color: black;
}
.active{
    border-bottom: 1px solid #D1AA68; 
}

/*============MAIN STYLING==============*/
main{
    background-color: #F4F5F3;
    height: 100vh;
}
.main-content-wrapper{
    max-width: 82rem;
    margin: 0 auto;
}

/*============ORDERS PAGE STYLING==============*/
/*gretting message and search box*/
.gretting-search-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 2em 0;
    border-bottom: 1px solid black;
}
.greeting{
    color: #D1AA68;
    font-size: 1.5em;
}
.search-order-input{
    border: none;
    width: 350px;
    padding: 5px;
}

/*orders*/
#empty-orders-message{
    text-align: center;
    margin: 3em 0;
}

#empty-orders-message.search-result{
    display: none;
    text-align: center;
    margin: 3em 0;
}

.orders-wrapper{
    display: flex;
    flex-wrap: wrap;
    padding: 2em 0;
}

/*individual orders*/
.order-container{
    width: 33.33333333%;
}
.order{
    background-color: white;
    margin: 1em;
    padding: 1em;
    text-align: center;
}
.order h2 {
    font-weight: 400;
    font-size: 1em;
}
.order-details-wrapper{
    display: flex;
    flex-wrap: wrap;
    margin: 1em 0;
    border-top: 1px solid #D1AA68;
    border-bottom: 1px solid #D1AA68;
}
.order-details-wrapper span {
    width: 50%;
    margin: 17px 0;
}

/*============ORDER PAGE STYLING==============*/
/*order page content specific class*/
.-order{
    display: flex;
    padding-top: 2em;
}

/*order options*/
.order-options-menu-wrapper{
    margin-right: 2em;
}
.order-options-menu-wrapper ul{
    padding: 0;
    list-style: none;
}
.order-options-menu-wrapper ul .options{
    border-radius: 5px;
    margin-bottom: 1em;
}
.order-options-menu-wrapper ul .options:hover{
    background-color: #cdcdcda2;
}
.order-options-menu-wrapper ul .options > a{
    display: block;
    width: 100%;
    height: 100%;
    padding: 1em 3.5em 1em 0.6em;
    text-decoration: none;
    color: black;
}
.active-order-option{
    background-color: #D1AA68;
}
.active-order-option a{
    color: #F4F5F3 !important;
}



/*-----order main content-------*/
.order-main-content-wrapper{
    flex-grow: 1;
}
/*order header with order number and buttons*/
.order-header-wrapper{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1em;
    border-bottom: 1px solid;
}
.order-buttons-wrapper{
    display: flex;
    gap: 1em;
}
.order-buttons-wrapper button{
    padding: 0.5em 1em;
    border-radius: 5px;
    cursor: pointer;
}
.order-buttons-wrapper button:hover{
    background-color: rgba(148, 148, 148, 0.635);
}



/*============RESPONSIVE STYLING==============*/
@media (max-width: 1000px){
    .order-container{
        width: 50%;
    }
}

@media (max-width: 700px){
    main{
        height: auto;
    }
    .order-container{
        width: 100%;
    }
}