@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "leaner";
    src: url("https://portal.davidici.com/fonts/Leaner-Thin.ttf");
}
@font-face {
    font-family: "Crox-ExtraLight";
    src: url("https://portal.davidici.com/fonts/crox/Crox-ExtraLight.otf");
}
@font-face {
    font-family: "Crox-Poster-Italic";
    src: url("https://portal.davidici.com/fonts/crox/Crox-Poster-Italic.otf");
}
@font-face {
    font-family: "DMSans-Italic";
    src: url("https://portal.davidici.com/fonts/DM_Sans/DMSans-Italic-VariableFont_opsz,wght.ttf");
}
@font-face {
    font-family: "DMSans";
    src: url("https://portal.davidici.com/fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf");
}
@font-face {
    font-family: "DMSans";
    src: url("https://seven.test/fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf");
}
@font-face {
    font-family: "DMSans";
    src: url("https://davidici-seven-portal.test/fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf");
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: DMSans;
    font-weight: 400;
    font-size: 0.9rem;
}

img {
    /* max-width: 100%; */
    /* margin: auto; */
}

#flash-message {
}

.common-button {
    padding: 0 1.5em 0.2em;
    border: 1px solid #d1aa68;
    border-radius: 7px;
}

/*===========LOGIN STYLING==============*/
.main-login {
    height: 100vh;
    background-image: url("../../images/davidici-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#login-page {
    width: 550px;
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(3px);
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 400px;
}

#LogoDiv {
    padding: 2.2em 0;
}

#Logo {
    display: block;
    margin: 0 auto;
    width: 30%;
}

#form-wrapper form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#form-wrapper form > input {
    width: 60%;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px rgba(0, 0, 0, 0) solid;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1) inset;
    margin-bottom: 15px;
    color: white;
    border-radius: 3px;
}
#form-wrapper form > button {
    padding: 8px 20px;
    backdrop-filter: blur(6px);
    border-radius: 50px;
    border: 0px;
    font-size: 1.15em;
    cursor: pointer;
}

/*===========NAVBAR STYLING==============*/
nav {
    border: 1px solid #d1aa68;
}
.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90rem;
    margin: 18px auto;
}
.homeAndNavLogoWrapper {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    gap: 0.5rem;
}
.nav-logo {
    width: 10em;
}
.home-logo {
    width: 1.8em;
}
.nav-logo-mobile {
    display: none;
    width: 3em;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}
.link-button {
    border: 1px solid #d1aa68;
    border-radius: 7px;
}
.link-button > a {
    text-decoration: none;
    padding: 0.3rem 1.4rem;
}
.active {
    color: white;
    background-color: #d1aa68;
}

.guess-links {
    list-style: none;
    display: flex;
    padding: 0;
    flex-grow: 1;
    justify-content: center;
}

/*-dropdown setting menu-*/
.settings-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
}

.settings-wrapper img {
    margin-bottom: 5px;
    cursor: default;
    width: 3em;
    margin: auto 1.5rem;
}

.settings-wrapper ul {
    display: none;
    flex-direction: column;
    align-items: end;
    font-size: medium;
    position: absolute;
    top: 100%;
    z-index: 3;
    min-width: 260px;
    background-color: #ffffff;
    box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.547);
    border-radius: 6px;
}

.settings-wrapper:hover ul {
    display: flex;
}

.settings-wrapper li {
    display: block;
    flex-basis: 100%;
    cursor: pointer;
    width: 100%;
}

.settings-wrapper li button {
    width: 100%;
    text-align: start;
    padding: 1.2rem;
}

.settings-wrapper li button:hover {
    box-shadow: 1px 0px 6px 3px #d1aa68;
    border-radius: 5px;
}

/*===========MODEL STYLING==============*/
.modal-order {
    padding: 4rem;
}

/*============MAIN STYLING==============*/
main {
    background-color: #ffffff;
    /* background-color: rgb(44, 47, 57); */
    min-height: 100vh;
}
.main-content-wrapper {
    max-width: 90rem;
    margin: 0 auto;
}

/*============ORDERS PAGE STYLING==============*/
/*gretting message and search box*/
.gretting-search-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 2em 0;
}
.greeting {
    color: #d1aa68;
    font-size: 1.5em;
}
.search-order-input {
    border: 1px solid #d1aa68;
    width: 350px;
    padding: 5px 7px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.413);
}

/*orders*/
#empty-orders-message {
    text-align: center;
    margin: 3em 0;
    flex-grow: 1;
}

#empty-orders-message.search-result {
    display: none;
    text-align: center;
    margin: 3em 0;
    flex-grow: 1;
}

.orders-wrapper {
    display: flex;
    flex-wrap: wrap;
}

/*individual orders*/
.order-container {
    /* width: 33.33333%; */
    width: 50%;
}
.order {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    margin: 1em;
    padding: 1em;
    text-align: center;
}
.order h2 {
    font-weight: 400;
    font-size: 1em;
}
.order-details-wrapper {
    display: flex;
    flex-wrap: wrap;
    row-gap: 0.3em;
}
.order-details-wrapper span {
    width: 50%;
    margin: 14px 0;
}

/*============ORDER PAGE STYLING==============*/
/*order page content specific class*/
.-order {
    display: flex;
    padding-top: 2.5em;
}

/*order options*/
.order-options-menu-wrapper {
    margin-right: 2em;
    flex-basis: 15%;
}
.order-options-menu-wrapper ul {
    padding: 0;
    list-style: none;
}
.order-options-menu-wrapper ul .options {
    border-radius: 5px;
    margin-bottom: 1.3em;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.43);
    transition: box-shadow 0.4s ease;
}
.order-options-menu-wrapper ul .options:hover {
    border: #d1aa68 0.025em solid;
    box-shadow: none;
}
.order-options-menu-wrapper ul .options > a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 1.2em 3.5em 1.2em 0.8em;
    text-decoration: none;
    color: black;
}
.active-order-option {
    background-color: #d1aa68;
    border: #d1aa68 0.025em solid;
}
.active-order-option a {
    color: #f4f5f3 !important;
}

/*-----order main content-------*/
.order-main-content-wrapper {
    flex-basis: 85%;
}
/*order header with order number and buttons*/
.order-header-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.charges-wrapper {
    display: flex;
    border-left: 1px solid #d1aa68;
    border-right: 1px solid #d1aa68;
    column-gap: 100px;
}
.charges {
    padding: 0 1em;
}

.order-buttons-wrapper {
    display: flex;

    gap: 1em;
}
.order-number-wrapper {
    padding-right: 2em;
}

/* ===========Overview Page=============*/
.overview-wrapper {
    display: flex;
    gap: 1em;
}

.overview-wrapper .order-details-wrapper {
    flex-grow: 2;
    align-items: center;
    text-align: center;
}

.overview-wrapper .actions-pending-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.check-status-button {
    padding: 5px 20px;
    background-color: #bcbdc1;
    border-radius: 5px;
    border: 1px solid;
}

.actions-pending-wrapper h1 {
    color: #d1aa68;
    margin: 1em auto 0 auto;
}

.actions-pending-wrapper ul {
    margin: 0 auto;
    list-style: square;
}

/* ===========GENERAL STYLE FOR PRODUCT CARD=============*/
.product-wrapper {
    text-align: center;
    padding: 1em;
    font-size: 0.85em;
}

.product-wrapper header,
.product-wrapper section {
    display: flex;
}

.product-wrapper header h2 {
    color: #d1aa68;
}

/* ===========Content in status modal=============*/
.order-status-title {
    color: #d1aa68;
    text-align: center;
    margin: 1.5em 0;
}

.products-status-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2em 0;
    margin: 0 4em;
}

.product-status-card {
    display: block;
}

.product-status-card .description {
    flex-basis: 30%;
    margin-right: 1.2em;
}

.product-status-card .size,
.model,
.sku,
.price,
.qty,
.total,
.status,
.color {
    flex-basis: 10%;
}

.close-modal-button {
    display: block;
    margin: 2em auto;
    padding: 5px 20px;
    background-color: gainsboro;
    border-radius: 5px;
    font-size: 0.9em;
}

/*===========Order Details Page=============*/
.products-details-wrapper {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    display: flex;
    flex-direction: column;
    border: 1px solid #d1aa68;
    border-radius: 0.375rem;
}

.product-details-card {
    display: flex;
    align-items: center;
    border: 1px solid gray;
    margin: 1em;
}

.product-details-card .description {
    flex-basis: 40%;
    border-right: 1px solid #d1aa68;
}

.product-details-card .size,
.product-details-card .price,
.product-details-card .qty {
    flex-basis: 7%;
    border-right: 1px solid #d1aa68;
}

.product-details-card .total {
    flex-basis: 7%;
}

.product-details-card .model,
.product-details-card .color {
    flex-basis: 10%;
    border-right: 1px solid #d1aa68;
}

.product-details-card .sku {
    flex-basis: 12%;
    margin-right: 10px;
    border-right: 1px solid #d1aa68;
}

.qty input {
    width: 53px;
    padding: 2px 5px;
    background-color: #bcbdc135;
    border-radius: 10px;
    text-align: center;
}

.model input {
    width: 80px;
    padding: 2px 5px;
}

.product-details-card .model > select {
    width: 70px;
    border: 1px solid;
    border-radius: 8px;
}

.delete-button {
    padding: 3px 17px;
    background-color: #bcbdc1;
    border-radius: 5px;
    border: 1px solid;
}

/*===========Order delivery Page=============*/
/*products*/
.products-delivery-wrapper {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    display: flex;
    flex-direction: column;
    border: 1px solid #d1aa68;
    border-radius: 0.375rem;
}

.product-delivery-card {
    display: block;
    border: 1px solid gray;
    margin: 1em;
}

.product-delivery-card .description {
    flex-basis: 40%;
    border-right: 1px solid #d1aa68;
}
.product-delivery-card .status {
    flex-basis: 20%;
    border-right: 1px solid #d1aa68;
}

.product-delivery-card .size,
.product-delivery-card .model,
.product-delivery-card .sku {
    flex-basis: 10%;
    border-right: 1px solid #d1aa68;
}

.qty {
    flex-basis: 10%;
}

/* -----------FORM */
.delivery-form {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5em;
}
/* FORM LAYOUT*/
.delivery-date {
    flex-basis: 20%;
}
.edit-button-wrapper {
    flex-basis: 80%;
    justify-content: center;
    align-items: end;
}
.customer-name-wrapper,
.contact-name-wrapper,
.telephone-number-wrapper,
.cellphone-number-wrapper,
.wholesaler-email-wrapper,
.customer-email-wrapper {
    flex-basis: 50%;
}
.address-wrapper,
.delivery-type-wrapper,
.submit-button-wrapper,
.delivery-instruction-wrapper {
    flex-basis: 100%;
}
.city-wrapper,
.state-wrapper,
.zip-code-wrapper {
    flex-basis: 33.33333%;
}

/* labels/inputs wrapper */
.delivery-form > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.2em;
}
.delivery-form label {
    margin-bottom: 0.1em;
}
.delivery-form input {
    padding: 0.3em;
    border: 1px solid #d1aa68;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.413);
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.delivery-form select {
    padding: 0.3em;
    border: 1px solid #d1aa68;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.413);
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.delivery-form textarea {
    padding: 0.3em;
    border: 1px solid #d1aa68;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.413);
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*FIELDS STYLING*/
.customer-name-wrapper,
.telephone-number-wrapper,
.wholesaler-email-wrapper,
.city-wrapper {
    padding-right: 1em;
}
.contact-name-wrapper,
.cellphone-number-wrapper,
.customer-email-wrapper,
.zip-code-wrapper {
    padding-left: 1em;
}
.edit-button {
    justify-content: center;
    align-items: end;
}

.submit-button-wrapper {
    justify-content: center;
    align-items: center;
}

.submit-button-wrapper button,
.edit-button-wrapper button {
    width: 6em;
    padding: 0.2em 1em;
    border-radius: 3px;
    border: solid 0.095em #d1aa68;
}

/*STATE STYLING*/
.delivery-form input:read-only,
.delivery-form textarea:read-only,
.delivery-form select:disabled,
.delivery-form button:disabled {
    color: #616161;
    outline: none;
    cursor: auto;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.072);
    border: none;
    background-color: transparent;
}

.delivery-form button:disabled[type="button"],
.delivery-form button:disabled[type="submit"] {
    background-color: #bcbdc1;
}

/*===========REGISTRATION=============*/
.goback-heading-wrapper {
    position: relative;
    margin: 2em 0;
}
.goback-heading-wrapper > section {
    color: #d1aa68;
}
.go-back-button {
    position: absolute;
}
.sales-person-form {
}

/*============RESPONSIVE STYLING==============*/
.hamburger-order-number-wrapper {
    display: flex;
    align-items: center;
}

.hamburger {
    width: 2em;
    height: 2em;
    margin-right: 1rem;
    display: none;
    justify-content: space-around;
    flex-flow: column nowrap;
}

.burger {
    width: 1.5rem;
    height: 0.13rem;
    border-radius: 10px;
    background-color: black;
    transform-origin: 1px;
    transition: all 0.3s linear;
}

.header-mobile-menu {
    display: none;
    margin-bottom: 20px;
    justify-content: space-between;
}

.horizontally-message {
    display: none;
}

@media (max-width: 1600px) {
    * {
        font-size: 0.803rem;
    }
    /*======= DETAIL PAGE =======*/
    .product-wrapper {
        padding: 1.5em;
    }
    .product-details-card {
        display: block;
    }
    .product-info-wrapper {
        margin-right: 0;
        margin-bottom: 1.2em;
    }
}

@media (max-width: 1400px) {
    .nav-content {
        margin: 15px auto;
    }
    .nav-logo {
        /* width: 150px; */
    }
}

@media (max-width: 1150px) {
    .nav-content {
        margin: 25px 20px;
        /* margin: 15px 10px; */
    }

    .main-content-wrapper {
        margin: 0 20px;
    }
    /*== orders page ==*/
    .order-container {
        width: 50%;
    }
    .overview-wrapper {
        flex-direction: column;
    }

    /*order header with order number and buttons*/
    .order-header-wrapper {
        flex-wrap: wrap;
        gap: 15px;
        justify-content: space-evenly;
    }

    .order-buttons-wrapper {
        padding: 0;
    }

    /*==== WORK IN PROGRESS -- HAMBURGER MENU ====*/
    .order-options-menu-wrapper {
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #00000045;
    }

    .header-mobile-menu {
        display: flex;
    }

    .hamburger {
        display: flex;
    }

    .active-hamburger {
        display: flex !important;
    }

    /*remove extra space*/
    .-order {
        display: block;
    }

    .order-options-menu-wrapper > div {
        background-color: white;
        padding: 2em;
    }
}

@media (max-width: 1000px) {
    /*====== MAIN LAYOUT ======*/
    .nav-content {
        margin: 15px 10px;
    }
    .homeAndNavLogoWrapper {
        width: 100px;
    }
    .nav-logo {
        /* width: 130px; */
    }
    .home-logo {
        /* width: 20px; */
    }
    .settings-wrapper img {
        width: 32px;
    }
    .main-content-wrapper {
        margin: 0 10px;
    }
    .-order {
        padding-top: 1.5em;
    }
    .order-header-wrapper {
        font-size: 12px;
    }

    /*======= STATUS CONTENT =======*/
    .products-status-wrapper {
        margin: 0;
    }

    .product-status-card {
        display: flex;
        flex-direction: column;
    }

    .product-status-card .model,
    .product-status-card .sku,
    .product-status-card .price,
    .product-status-card .total {
        display: none;
    }

    .product-status-card .description {
        margin: 0;
    }

    .product-status-card header,
    .product-status-card section {
        justify-content: space-around !important;
    }

    /*======= OVERVIEW PAGE =======*/
    .overview-wrapper {
        font-size: 11px;
    }

    /*======= MAIN STYLING FOR PRODUCTS CARDS =======*/
    .product-wrapper {
        padding: 1em 0;
        font-size: 11px;
    }
    .product-wrapper header,
    .product-wrapper section {
        justify-content: center;
    }

    /*======= DETAIL PAGE =======*/
    .product-details-card {
        margin: 0.4em;
    }
    .product-details-card .color {
        display: none;
    }
    .product-details-card .description,
    .product-details-card .sku {
        margin-right: 0;
        padding-right: 9px;
    }
    .product-details-card .model > select {
        width: 50px;
    }
    .product-details-card .qty > input {
        width: 40px;
    }

    /*===========REGISTRATION=============*/
    .goback-heading-wrapper,
    .go-back-button,
    .sales-person-form {
        font-size: 13px;
    }
}

@media (max-width: 800px) {
    .horizontally-message {
        display: block;
        font-size: smaller;
        color: #d1aa68;
    }
    /*== nav bar ==*/
    .nav-content {
        margin: 22px 20px;
    }
    .link-button > a {
        font-size: 0.8rem;
    }
    .settings-wrapper img {
        width: 30px;
        margin: auto;
    }
    .settings-wrapper ul {
        font-size: medium;
        min-width: 180px;
    }

    /*== main container ==*/
    main {
        height: auto;
    }
    .-order {
        padding-top: 1.5em;
    }

    /*== orders page ==*/
    .order-options-menu-wrapper ul {
        font-size: small;
    }
    .gretting-search-wrapper {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .search-order-input {
        width: 300px;
    }
    .order-container {
        width: 100%;
    }

    /*== order layout ==*/
    .order-header-wrapper {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .charges-wrapper {
        flex-grow: 1;
        column-gap: 0;
        justify-content: center;
    }
    .order-buttons-wrapper {
        flex-grow: 1;
        justify-content: center;
    }
    .hamburger-order-number-wrapper {
        justify-content: space-between;
    }
    .order-number-wrapper {
        padding: 0;
        flex-grow: 1;
        padding-left: 1em;
    }

    /*======= DETAIL PAGE =======*/
    .products-details-wrapper {
        border: none;
    }
    .product-details-card {
        margin: 10px 0;
        border-color: #d1aa68;
    }

    /*======= DELIVERY PAGE =======*/
    .delivery-form {
        flex-direction: column;
    }
    .customer-name-wrapper,
    .telephone-number-wrapper,
    .wholesaler-email-wrapper,
    .city-wrapper,
    .contact-name-wrapper,
    .cellphone-number-wrapper,
    .customer-email-wrapper,
    .zip-code-wrapper {
        padding: 0;
    }

    .delivery-form input,
    .delivery-form select {
        padding: 0.2em 0.12em;
        font-size: 12px;
    }
}

@media (max-width: 600px) {
    /*== login page ==*/
    #login-page {
        width: auto;
    }
    /*== nav bar ==*/
    .nav-content {
        margin: 3px 15px;
        gap: 3px;
        flex-wrap: wrap;
    }

    .homeAndNavLogoWrapper {
        width: auto;
    }

    .home-logo {
        display: none;
    }

    .nav-logo {
        display: none;
    }

    .nav-logo-mobile {
        display: block;
    }

    .nav-links {
        gap: 0.3rem;
        height: 0;
        visibility: hidden;
        opacity: 0;
        order: 4;
        flex-basis: 100%;
        justify-content: space-evenly;
        border-top: dashed 1px #d1aa68;
        transition: all 0.3s ease-out;
    }

    .active-links {
        height: auto;
        visibility: visible;
        opacity: 1;
        padding: 15px 0;
    }

    .link-button > a {
        padding: 0.3rem 0.8rem;
    }

    .main-content-wrapper {
        margin: 0 10px;
    }

    /*== order layout ==*/
    .hamburger {
        margin: 0;
    }
    .hamburger-order-number-wrapper {
        width: auto;
    }
    .charges {
        padding: 0.4em;
    }
    /*===========REGISTRATION=============*/
    .goback-heading-wrapper,
    .go-back-button,
    .sales-person-form {
        font-size: 11px;
    }
    .go-back-button {
        position: relative;
        margin-bottom: 1.5em;
        width: 40%;
    }

    .goback-heading-wrapper {
        display: flex;
        flex-direction: column;
        margin: 2.2em 0;
    }
}
