@tailwind base;
@tailwind components;
@tailwind utilities;

.overview-wrapper{
    display: flex;
}

.overview-wrapper .order-details-wrapper{
    flex-grow: 2;
    align-items: center;
    text-align: center;
}

.overview-wrapper .actions-pending-wrapper{
    flex-grow: 1;
    margin: 1em 0;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.check-status-button{
    padding: 5px 20px;
    background-color: #BCBDC1;
    border-radius: 5px;
    border: 1px solid;
}

.actions-pending-wrapper h1 {
    color: #D1AA68;
    margin: 1em auto;
}

.actions-pending-wrapper ul {
    margin: 0 auto;
    list-style:square;
}

/* ===========GENERAL STYLE FOR PRODUCT CARD=============*/
.product-wrapper{    
    text-align: center;    
    border: 1px solid;
    padding: 2em;
    font-size: 0.9em;
}
.product-wrapper header, .product-wrapper section {
    display: flex;
}

.product-wrapper header h2 {
    margin-bottom: 10px;
}

/* ===========Content in status modal=============*/
.order-status-title{
    color: #D1AA68;
    text-align: center;
    margin: 2em 0;
}
.products-status-wrapper{
    padding: 0 10em;
    display: flex;
    flex-direction: column;
    gap: 2em 0;
}
.product-status-card{
    display: block;
}
.product-status-card .description{
    flex-basis: 30%;
}
.product-status-card .size, .model, .sku, .price, .qty, .total, .status {
    flex-basis: 10%;
}
.close-modal-button{
    display: block;
    margin: 2em auto;
    padding: 5px 20px;
    background-color: gainsboro;
    border-radius: 5px;
    font-size: 0.9em;
}

/*===========Order Details Page=============*/
.products-details-wrapper{
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 0.5em 0;
}
.product-details-card{
    display: flex;
    align-items: center;
    background-color: white;
}
.product-details-card .description{
    flex-basis: 40%;
}
.product-details-card .size, .model, .sku, .price, .qty, .total {
    flex-basis: 10%;
}
.qty input {
    width: 53px;
    padding: 2px 5px;
    background-color: #bcbdc135;
    border-radius: 10px;
    text-align: center;
}
.delete-button{
    padding: 3px 17px;
    background-color: #BCBDC1;
    border-radius: 5px;
    border: 1px solid;
}

