.filtersModal {
    border: #d1aa68 1px solid;
    padding: 2.5rem 5rem;
    max-width: 1500px;
}

.filterIconAndValuesSelectedWrapper {
    background-color: white;
    border-bottom: #d1aa68 1px solid;
    margin-top: 1em;
    padding: 1rem;
    display: flex;
    align-items: flex-end;
    position: sticky;
    top: 0px;
    z-index: 2;
}

.filterIconAndValuesSelectedWrapper .filterIconButton {
    width: 3rem;
}

.filterIconAndValuesSelectedWrapper .valuesSelectedAndTitleWrapper {
    flex-grow: 1;
    text-align: center;
}

.filterIconAndValuesSelectedWrapper .valuesSelectedAndTitleWrapper > h1 {
    font-weight: 600;
    color: #d1aa68;
    margin-bottom: 0.5rem;
}

.filterIconAndValuesSelectedWrapper
    .valuesSelectedAndTitleWrapper
    .valuesSelectedWrapper {
    display: flex;
    justify-content: space-around;
}

.filterIconAndValuesSelectedWrapper
    .valuesSelectedAndTitleWrapper
    .valuesSelectedWrapper
    p {
    color: #d1aa68;
    font-weight: 600;
}

.allFiltersWrapper {
    display: flex;
    flex-direction: column;
}

.allFiltersWrapper .sizeAndSinkPositionFiltersWrapper {
    display: flex;
}

.allFiltersWrapper
    .sizeAndSinkPositionFiltersWrapper
    .titleAndFilterWrapper:nth-child(1) {
    flex-basis: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .filterWrapper {
        flex-grow: 1;
        align-items: center;
    }
}

.allFiltersWrapper
    .sizeAndSinkPositionFiltersWrapper
    .titleAndFilterWrapper:nth-child(2) {
    flex-basis: 45%;

    .filterWrapper .sinkPositionFilter {
        flex-basis: 16%;
    }
}

.allFiltersWrapper .resetFiltersAndCloseFilterButtonsWrapper {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1em;
}

.allFiltersWrapper
    .resetFiltersAndCloseFilterButtonsWrapper
    .resetFiltersButton {
    background-color: #d1aa68;
    color: white;
    padding: 0.5em 4em;
    border-radius: 5px;
}

.allFiltersWrapper
    .resetFiltersAndCloseFilterButtonsWrapper
    .closeFilterModalButton {
    background-color: #d1aa68;
    color: white;
    padding: 0.5em 4em;
    border-radius: 5px;
}

.allFiltersWrapper .titleAndFilterWrapper {
    padding: 1em 0;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.388);
    margin: 1em 0;
}

.titleWrapper {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    margin-bottom: 14px;
}

.titleWrapper button {
    box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.214);
    padding: 0.15rem 0.4rem;
    border-radius: 2px;
    font-size: 0.9rem;
}

.filterWrapper {
    display: flex;
    justify-content: center;
    gap: 1em;
    text-align: center;
    flex-wrap: wrap;
}

/*==== SIZE FILTER STYLING =====*/

.sizeFilter {
    border: 3px solid #d1aa68;
    border-radius: 50%;
    height: 4em;
    width: 4em;
    margin: 0 1em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sizeFilterValueSelected {
    background-color: #d1aa68;
    color: white;
}

.sizeFilter:hover {
    box-shadow: 0px 0px 2px 2px #000000d7;
    transition: box-shadow 0.1s ease-in;
}

/*==== SINK POSITION FILTER STYLING=====*/

.sinkPositionFilter {
    flex-basis: 10%;
    margin: 0 1em;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sinkPositionFilter .imageAndOverlayWrapper:hover {
    box-shadow: 0px 0px 2px 2px #000000d7;
    transition: box-shadow 0.1s ease-in;
}

.sinkPositionFilterSelected .imageAndOverlayWrapper {
    position: relative;
}

.sinkPositionFilter .imageAndOverlayWrapper img {
    border: 2px solid #d1aa68;
}

.sinkPositionFilterSelected .imageAndOverlayWrapper::before {
    z-index: 1;
    content: "SELECTED";
    font-size: 1rem;
    color: #d1aa68;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.sinkPositionFilterSelected .imageAndOverlayWrapper .filterOverlay {
    background-color: #00000075;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*==== FINISHES FILTER STYLING=====*/

.titleAndFinishesFilterWrapper {
    padding: 1em 0.9em;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.388);
    margin: 1em 0;
}

.allFinishTypesWrapper {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.finishTypeWrapper {
    flex-basis: 33.333%;
    border: 1px solid rgba(0, 0, 0, 0.214);
    border-radius: 5px;
    padding: 1em;
}

.finishTypeWrapper .finishTypeLabel {
    color: #d1aa68;
    font-weight: 500;
    margin-bottom: 10px;
}

.finishTypeWrapper .finishFilterWrapper {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
}

.finishTypeWrapper .finishFilterWrapper .labelAndFinishWrapper {
    width: calc(100% / 4);
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.finishTypeWrapper
    .finishFilterWrapper
    .labelAndFinishWrapper
    .finishFilterLabel {
    font-size: 12px;
}

.finishTypeWrapper
    .finishFilterWrapper
    .labelAndFinishWrapper
    .imageAndOverlayWrapper {
    border: 3px solid #d1aa68;
    border-radius: 50%;
    margin: 0 1em;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.finishTypeWrapper
    .finishFilterWrapper
    .labelAndFinishWrapper
    .imageAndOverlayWrapper:hover {
    box-shadow: 0px 0px 2px 2px #000000d7;
    transition: box-shadow 0.1s ease-in;
}

.finishTypeWrapper
    .finishFilterWrapper
    .labelAndFinishWrapper
    .imageAndOverlayWrapper
    .finishFilter {
    object-fit: cover;
}

.finishTypeWrapper
    .finishFilterWrapper
    .labelAndFinishWrapper
    .imageAndOverlayWrapper.finishFilterValueSelected
    .filterOverlay {
    background-color: #00000092;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.finishTypeWrapper
    .finishFilterWrapper
    .labelAndFinishWrapper
    .imageAndOverlayWrapper.finishFilterValueSelected::before {
    content: "SELECTED";
    color: #d1aa68;
    font-size: 0.7rem;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.finishFilterValueSelected {
    box-shadow: 0px 0px 9px 2px #d1aa68;
}

/*== PRODUCTS CARS STYLING ==*/

.expressProgramProductsWrapper {
    display: flex;
    flex-wrap: wrap;
}

.expressProgramProductCardLayout {
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 1rem 1.9rem;
}

.expressProgramProductCard {
    cursor: pointer;
    border: solid 1px #d1ab68a1;
    transition: all 0.2s ease-in;
    animation: southToNorthFadeIn 0.7s ease-in-out forwards;
}

@keyframes southToNorthFadeIn {
    0% {
        transform: scale(0.7) translate(0, 2%);
        opacity: 0;
    }

    100% {
        transform: scale(0.9) translate(0);
        opacity: 1;
    }
}

.expressProgramProductCard:hover {
    box-shadow: 1px 8px 25px #d1ab68ae;
}

.expressProgramProductCard .productCardcontent {
    margin: 2em;
}

/*-- finishes --*/
.expressProgramProductCard .productCardcontent .finishesContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    margin-top: 1em;
}

.expressProgramProductCard .productCardcontent .finishesContainer .finish {
    width: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.expressProgramProductCard .productCardcontent .finishesContainer .finish img {
    border: 1px solid #d1aa68;
    border-radius: 50%;
    height: 4.5em;
    width: 4.5em;
    margin: 0 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.expressProgramProductCard .productCardcontent .finishesContainer .finish p {
    font-size: 12px;
    text-align: center;
}

/*-- composition name --*/
.expressProgramProductCard .productCardcontent .compositionName {
    margin-top: 1em;
    font-size: x-large;
}

/*-- starting price label --*/
.expressProgramProductCard .productCardcontent .startingPriceLabel {
    font-size: x-large;
    font-weight: 400;
    color: #d1aa68;
}

@media (max-width: 600px) {
    .filterWrapper {
        gap: 0.5em;
    }

    .sizeFilter {
        height: 2.5em;
        width: 2.5em;
        margin: 0 0.25em;
        border: 2px solid #d1aa68;
    }

    .allFinishTypesWrapper {
        flex-direction: column;
    }

    .labelAndFinishWrapper {
        width: 25%;
    }

    .finishTypeWrapper
        .finishFilterWrapper
        .labelAndFinishWrapper
        .imageAndOverlayWrapper {
        height: 2.5em;
        width: 2.5em;
        margin: 0;
    }

    .finishFilterLabel {
        font-size: 9px;
    }

    .expressProgramProductCard {
        width: 100%;
    }
}
