.allFiltersWrapper {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.titleAndFilterWrapper {
    display: flex;
    justify-content: center;
    gap: 1.5em;
}

.titleWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.filterWrapper {
    display: flex;
    gap: 1em;
    text-align: center;
}

.filter {
    border: 3px solid #d1aa68;
    border-radius: 50%;
    height: 4em;
    width: 4em;
    margin: 0 1em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filterValueSelected {
    background-color: #d1aa68;
    color: white;
}

.expressProgramProductsWrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1em;
}

.expressProgramProductCard {
    width: 50%;
}

.expressProgramProductCard .productCardcontent {
    margin: 1em 0;
}
