.itemPropertiesAccordion {
    background-color: rgb(254, 254, 254);

    .itemPropertiesHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em;
        border-top: 1px solid #d1aa68;
        border-bottom: 1px solid #d1aa68;
        cursor: pointer;

        .headerTitle {
            font-size: 1.5rem;
            color: #d1aa68;
        }

        .triangleDownIcon {
            width: 4%;
            transition: all 0.3s ease-out;
        }
        /*triangleDownIcon*/
        .rotateTriangle {
            transform: rotate(180deg);
        }
    }

    .propertiesWrapper {
        max-height: 0;
        margin: 1em 0;
        box-shadow: 0px 0px 2px 0px #d1aa68;
        overflow: hidden;
        transition: max-height 0.4s ease-out;
    }
    /*propertiesWrapper state*/
    .activeAccordion {
        max-height: 100vh;
    }
}
