.shoppingCartProductCard {
    /* width: 50%; */
    padding: 1em;
    flex-grow: 1;
}

.productContent {
    display: flex;
    height: 100%;
    box-shadow: 0px 1px 3px 3px rgba(0, 0, 0, 0.266);
    border-radius: 2px;
    gap: 0.5em;
}

.productDescription,
.productDetails {
    width: 50%;
}

.productDescription {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto 0;
    padding: 0 2em;
}

.productDetails {
    padding: 1.5em 1.2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* .productDetails span {
    margin-bottom: 1em;
} */

.header {
    text-align: center;
    margin-bottom: 1em;
}

.products {
    display: flex;
    flex-direction: column;
}

.compositionProductContent {
    /* background-color: rgb(28, 118, 196); */
    display: flex;
    flex-direction: column;       
    border-top: #d1aa68 solid 1px;    
    padding: 1em 0;

    .description {
        margin-bottom: 7px;
    }

    .productTotal {
        margin-bottom: 14px;
    }
}

.total {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-bottom: 0.5em;

    h2 {
        font-weight: 600;
        font-size: 1.1em;
    }
}

.productDetails span h2 {
    color: #d1aa68;
}

.productDetails span .sideUnitsWrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.inputAndRemoveButtonWrapper {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.inputAndRemoveButtonWrapper > button {
    border: 1px solid #d1aa68;
    padding: 0.3rem;
    border-radius: 3px;
}

.inputAndRemoveButtonWrapper > button:hover {
    background-color: rgba(255, 0, 0, 0.443);
    color: white;
}

@media (max-width: 700px) {
    .shoppingCartProductCard {
        width: 100%;
    }

    .productContent {
        flex-direction: column;
        gap: 0;
    }

    .productDetails {
        padding: 1em;
    }

    .productDescription {
        padding-top: 1em;
    }
    
    .productDescription,
    .productDetails {
        width: 100%;        
    }

    /* .productDescription {
        padding: 1em;
        padding-bottom: 0;
    } */
}
