.shoppingCartButton {
    position: fixed;
    bottom: 22px;
    right: 22px;
    background-color: aqua;
    padding: 1rem;
}

.shoppingCartModal {
    border: #d1aa68 1px solid;
    padding: 2.5rem 5rem;
    max-width: 1500px;
}

.shoppingCart {
}

.shoppingCartContent {
    display: flex;
    flex-wrap: wrap;
}

.placeOrderButton {
    background-color: #d1aa68;
    color: white;
    padding: 0.5rem 4rem;
    border-radius: 4px;
}
