.shoppingCartButton {
    position: fixed;
    bottom: 1vw;
    right: 2vh;
    width: 50px;
    padding: 5px;
}

.shoppingCartButton .counter {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    border: 1px solid red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 0.8rem;
}

.shoppingCartModal {
    border: #d1aa68 1px solid;
    padding: 2.5rem 5rem;
    max-width: 1500px;
}

.shoppingCart {
}

.shoppingCartContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

.grandTotalAndPlaceOrderButtonWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 4em;
    margin-bottom: 1rem;
    position: sticky;
    top: 0;
}

.grandTotalAndPlaceOrderButtonWrapper .granTotalWrapper h1 {
    font-size: 1.3rem;
}

.grandTotalAndPlaceOrderButtonWrapper .granTotalWrapper p {
    font-size: 1.5rem;
    color: #d1aa68;
}

.grandTotalAndPlaceOrderButtonWrapper .placeOrderButton {
    background-color: #d1aa68;
    color: white;
    padding: 0.5em 4em;
    margin: 1em;
    border-radius: 5px;
}

.grandTotalAndPlaceOrderButtonWrapper .placeOrderButton:hover {
    background-color: white;
    color: #d1aa68;       
}

@media (max-width: 950px) {
    .shoppingCartButton {
        bottom: 2vw;
        right: 2vh;
    }

    .shoppingCartModal {
        padding: 2.5rem 1rem;
    }
}

@media (max-width: 700px) {
    .shoppingCartContent {
        flex-direction: column;
    }

    .grandTotalAndPlaceOrderButtonWrapper {
        row-gap: 2em;
    }

    .grandTotalAndPlaceOrderButtonWrapper .placeOrderButton {
        font-size: 0.8rem;
    }

    .grandTotalAndPlaceOrderButtonWrapper .granTotalWrapper {
        flex-basis: 100%;
        text-align: center;
    }
}

@media print {
    .shoppingCartButton {
        display: none;
    }
}
